.index__posts-list,
.tag__posts-list {
    list-style: none;
}

.index__posts-list__post-title--link,
.tag__posts-list__post-title--link {
    ::after {
        content: '[off-site]';
        font-size: 1.03rem;
        font-weight: 500;
    }
}