<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} {{ site.title_jap }} - {{ page.title }}</title>
    <link rel="icon" href="{{ "/assets/img/dino.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}
  </head>
  <body>
    <div>
      {% if page.id != 'index' %}
        <a href="{{ site.baseurl }}/">← Home</a>
      {% endif %}
      {% if page.id != 'about' %}
        <a href="{{ site.baseurl }}/about.html">About</a>
      {% endif %}
      <a href="javascript:void(0)" id="btn-theme">Dark↔light</a>
    </div>
    <div class="content">{{ content}}</div>
    
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>
</html>
